*EDA*

Luego del análisis exploratorios de los datos, se decide tomar las siguientes tablas: 
Internet_Ingreso<br>
Ingresos_telefonia_fija<br>
Ingresos_Telefonia_movil<br>
historico_velocidad_internet_provincial<br>
historico_velocidad_internet_nacional<br>
Internet_Accesos_por_velocidad_provincial<br>
Internet_Accesos_por_tecnologia_nacional<br>relevantes son :valores faltantes , valores nulos y variables del tipo categóricas que no se consideraron necesarias para el estudio solicitado. <br>
A continución se detalla el EDA realizado.

In [1]:
#Importamos las librerias 
import pandas as  pd
#!pip install sweetviz
import sweetviz as sv

Enlaces de los diferentes datasets: 

1) Accesos_a_Internet_fijo_por_velocidad_de_bajada_y_localidad: https://bit.ly/30VDP2b
2) Accesos_a_Internet_fijo_por_velocidad_bajada_y_provincia : https://bit.ly/2wQuKtW
3) Accesos_a_Internet_fijo_por_tecnologia_y_localidad: https://bit.ly/30WYiDI
4) Conectividad_al_servicio_de_Internet_provincial : https://bit.ly/2vq4lEI
5) historico_velocidad_internet_nacional : https://bit.ly/3h4N2ia
6) historico_velocidad_internet_provincial: https://bit.ly/3OWJSMn
7) Internet_Penetracion_provincial : https://bit.ly/2wNuCvc
8) Internet_Penetracion_nacional : https://bit.ly/2KgnZqT
9) Internet_Ingresos : https://bit.ly/2vgp5hG
10) Internet_BAF_nacional : https://bit.ly/2u0KGes
11) Internet_BAF_provincial : https://bit.ly/2Fb9JMp
12) Internet_Accesos_por_velocidad_nacional : https://bit.ly/2xXJ2ga
13) Internet_Accesos_por_velocidad_provincial : https://bit.ly/2FbIqlr
14) Internet_Accesos_por_tecnologia_nacional : https://bit.ly/2uWNpTf
15) Internet_Accesos_por_tecnologia_provincial : https://bit.ly/2s4QMtt <br>
16)Listado_de_localidades_con_conectividad_a_internet : https://bit.ly/2YBLmBI

1) Accesos_a_Internet_fijo_por_velocidad_de_bajada_y_provincia_y_localidad.csv <br>
Por la cantidad de valores faltantes, se decide no tomar este dataframe.

In [4]:
df1 = pd.read_csv('../Datasets/Accesos_a_Internet_fijo_por_velocidad_de_bajada_y_localidad.csv')

In [51]:
df1

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,75 Mbps,78 Mbps,80 Mbps,82 Mbps,83 Mbps,85 Mbps,90 Mbps,92 Mbps,95 Mbps,100 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081,TUCUMAN,Tafí Viejo,Tafí Viejo,90105080,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,982.0
3082,TUCUMAN,Trancas,San Pedro de Colalao,90112020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3083,TUCUMAN,Trancas,Villa de Trancas,90112030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3084,TUCUMAN,Yerba Buena,Villa Carmela,90119020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3085,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5860.0

In [52]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3086 entries, 0 to 3085
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3086 non-null   object
 1   Partido     3086 non-null   object
 2   Localidad   3086 non-null   object
 3   Link Indec  3086 non-null   object
 4   Otros       959 non-null    float64
 5   0,256 Mbps  29 non-null     float64
 6   0,375 Mbps  1 non-null      float64
 7   0,5 Mbps    669 non-null    float64
 8   0,512 Mbps  524 non-null    float64
 9   0,625 Mbps  1 non-null      float64
 10  0,75 Mbps   316 non-null    float64
 11  1 Mbps      948 non-null    float64
 12  1,25 Mbps   1 non-null      float64
 13  1,5 Mbps    16 non-null     float64
 14  2 Mbps      768 non-null    float64
 15  2,2 Mbps    1 non-null      float64
 16  2,5 Mbps    3 non-null      float64
 17  3 Mbps      1374 non-null   float64
 18  3,3 Mbps    1 non-null      float64
 19  3,5 Mbps    383 non-null    float64
 20  4 Mbps      542 non-null    float64
 21  4,5 Mbps    1 non-null      float64
 22  5 Mbps      990 non-null    float64
 23  6 Mbps      1451 non-null   float64
 24  6,4 Mbps    1 non-null      float64
 25  7 Mbps      263 non-null    float64
 26  7,5 Mbps    4 non-null      float64
 27  8 Mbps      678 non-null    float64
 28  9 Mbps      52 non-null     float64
 29  10 Mbps     1660 non-null   float64
 30  11 Mbps     27 non-null     float64
 31  12 Mbps     512 non-null    float64
 32  13 Mbps     15 non-null     float64
 33  14 Mbps     20 non-null     float64
 34  15 Mbps     1008 non-null   float64
 35  16 Mbps     18 non-null     float64
 36  17 Mbps     1 non-null      float64
 37  18 Mbps     232 non-null    float64
 38  19 Mbps     1 non-null      float64
 39  20 Mbps     947 non-null    float64
 40  21 Mbps     4 non-null      float64
 41  22 Mbps     1 non-null      float64
 42  23 Mbps     2 non-null      float64
 43  24 Mbps     13 non-null     float64
 44  25 Mbps     584 non-null    float64
 45  25,1 Mbps   1 non-null      float64
 46  25,11 Mbps  1 non-null      float64
 47  25,5 Mbps   1 non-null      float64
 48  26 Mbps     2 non-null      float64
 49  30 Mbps     736 non-null    float64
 50  31 Mbps     4 non-null      float64
 51  32 Mbps     2 non-null      float64
 52  34 Mbps     1 non-null      float64
 53  35 Mbps     11 non-null     float64
 54  36 Mbps     2 non-null      float64
 55  38 Mbps     1 non-null      float64
 56  39 Mbps     1 non-null      float64
 57  40 Mbps     89 non-null     float64
 58  41 Mbps     1 non-null      float64
 59  45 Mbps     3 non-null      float64
 60  46 Mbps     1 non-null      float64
 61  49 Mbps     1 non-null      float64
 62  50 Mbps     611 non-null    float64
 63  55 Mbps     4 non-null      float64
 64  58 Mbps     1 non-null      float64
 65  59 Mbps     1 non-null      float64
 66  60 Mbps     255 non-null    float64
 67  61 Mbps     3 non-null      float64
 68  62 Mbps     1 non-null      float64
 69  64 Mbps     1 non-null      float64
 70  65 Mbps     2 non-null      float64
 71  66 Mbps     1 non-null      float64
 72  70 Mbps     10 non-null     float64
 73  75 Mbps     225 non-null    float64
 74  78 Mbps     1 non-null      float64
 75  80 Mbps     11 non-null     float64
 76  82 Mbps     1 non-null      float64
 77  83 Mbps     1 non-null      float64
 78  85 Mbps     1 non-null      float64
 79  90 Mbps     2 non-null      float64
 80  92 Mbps     2 non-null      float64
 81  95 Mbps     1 non-null      float64
 82  100 Mbps    542 non-null    float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

In [44]:
#Analizamos el dataset
advert_report = sv.analyze(df1)
#Generamos el informe
advert_report.show_html('Accesos_a_Internet_fijo_por_velocidad_bajada_y_provincia_y localidad.html')

[Step 2/3] Processing Pairwise Features      |█▌        | [ 16%]   00:01 -> (00:06 left)c:\Users\ivanm\anaconda3\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
Done! Use 'show' commands to display/save.   |██████████| [100%]   00:12 -> (00:00 left)

Report Accesos_a_Internet_fijo_por_velocidad_bajada_y_provincia_y localidad.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.
---
WARNING: one or more correlations had an edge-case/error and a 1.0 correlation was assigned
(likely due to only a single row containing non-NaN values for both correlated features)
Affected correlations:['1,5 Mbps/18 Mbps', '16 Mbps/75 Mbps', '18 Mbps/1,5 Mbps', '75 Mbps/16 Mbps']

2) Accesos_a_Internet_fijo_por_velocidad_bajada_y_provincia <br>
Se observa que la última fila está compuesta de nulos, además se reeemplazan los valores "-0" por "0". <br>
De todos modos no se utilizarán los datos de está tabla,ya que no se considera necesaria para el análisis solicitado.

In [5]:
df2 = pd.read_csv('../Datasets/Accesos_a_Internet_fijo_por_velocidad_bajada_y_provincia.csv')

In [25]:
df2

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022.0,1.0,Buenos Aires,"26,280",19,- 0,- 0,"31,380",192,"5,958",...,"3,163",- 0,"100,884",- 0,4,212,- 0,2,- 0,- 0
1,2022.0,1.0,Capital Federal,"1,717",31,- 0,- 0,461,35,"1,407",...,3,- 0,"31,684",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022.0,1.0,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,1.0,Chaco,"7,580",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,1.0,Chubut,"15,607",8,- 0,- 0,73,32,"1,069",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,2017.0,4.0,Santa Fe,"14,119",- 0,- 0,- 0,"3,109",- 0,"7,637",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
429,2017.0,4.0,Santiago Del Estero,- 0,- 0,- 0,- 0,41,- 0,909,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
430,2017.0,4.0,Tierra Del Fuego,- 0,- 0,- 0,- 0,6,- 0,282,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
431,2017.0,4.0,Tucumán,- 0,- 0,- 0,- 0,105,- 0,1,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         432 non-null    float64
 1   Trimestre   432 non-null    float64
 2   Provincia   432 non-null    object
 3   Otros       432 non-null    object
 4   0,256 Mbps  432 non-null    object
 5   0,375 Mbps  432 non-null    object
 6   0,625 Mbps  432 non-null    object
 7   0,5 Mbps    432 non-null    object
 8   0,512 Mbps  432 non-null    object
 9   0,75 Mbps   432 non-null    object
 10  1 Mbps      432 non-null    object
 11  1,2 Mbps    432 non-null    object
 12  1,25 Mbps   432 non-null    object
 13  1,5 Mbps    432 non-null    object
 14  2 Mbps      432 non-null    object
 15  2,2 Mbps    432 non-null    object
 16  2,5 Mbps    433 non-null    object
 17  6,7 Mbps    432 non-null    object
 18  3 Mbps      432 non-null    object
 19  3,2 Mbps    432 non-null    object
 20  3,3 Mbps    432 non-null    object
 21  3,5 Mbps    432 non-null    object
 22  4 Mbps      432 non-null    object
 23  4,5 Mbps    432 non-null    object
 24  5 Mbps      432 non-null    object
 25  6 Mbps      432 non-null    object
 26  6,4 Mbps    432 non-null    object
 27  7 Mbps      432 non-null    object
 28  7,5 Mbps    432 non-null    object
 29  8 Mbps      432 non-null    object
 30  9 Mbps      432 non-null    object
 31  10 Mbps     432 non-null    object
 32  10,6 Mbps   432 non-null    object
 33  11 Mbps     432 non-null    object
 34  12 Mbps     432 non-null    object
 35  13 Mbps     432 non-null    object
 36  14 Mbps     432 non-null    object
 37  15 Mbps     432 non-null    object
 38  16 Mbps     432 non-null    object
 39  17 Mbps     432 non-null    object
 40  18 Mbps     432 non-null    object
 41  19 Mbps     432 non-null    object
 42  20 Mbps     432 non-null    object
 43  21 Mbps     432 non-null    object
 44  22 Mbps     432 non-null    object
 45  23 Mbps     432 non-null    object
 46  24 Mbps     432 non-null    object
 47  25 Mbps     432 non-null    object
 48  25,1 Mbps   432 non-null    object
 49  25,11 Mbps  432 non-null    object
 50  25,5 Mbps   432 non-null    object
 51  26 Mbps     432 non-null    object
 52  28 Mbps     432 non-null    object
 53  29 Mbps     432 non-null    object
 54  30 Mbps     432 non-null    object
 55  31 Mbps     432 non-null    object
 56  32 Mbps     432 non-null    object
 57  34 Mbps     432 non-null    object
 58  35 Mbps     432 non-null    object
 59  36 Mbps     432 non-null    object
 60  37 Mbps     432 non-null    object
 61  38 Mbps     432 non-null    object
 62  39 Mbps     432 non-null    object
 63  40 Mbps     432 non-null    object
 64  41 Mbps     432 non-null    object
 65  45 Mbps     432 non-null    object
 66  46 Mbps     432 non-null    object
 67  47 Mbps     432 non-null    object
 68  48 Mbps     432 non-null    object
 69  49 Mbps     432 non-null    object
 70  50 Mbps     432 non-null    object
 71  51 Mbps     432 non-null    object
 72  52 Mbps     432 non-null    object
 73  54 Mbps     432 non-null    object
 74  55 Mbps     432 non-null    object
 75  56 Mbps     432 non-null    object
 76  58 Mbps     432 non-null    object
 77  59 Mbps     432 non-null    object
 78  60 Mbps     432 non-null    object
 79  61 Mbps     432 non-null    object
 80  62 Mbps     432 non-null    object
 81  63 Mbps     432 non-null    object
 82  64 Mbps     432 non-null    object
 83  65 Mbps     432 non-null    object
 84  66 Mbps     432 non-null    object
 85  67 Mbps     432 non-null    object
 86  68 Mbps     432 non-null    object
 87  70 Mbps     432 non-null    object
 88  71 Mbps     432 non-null    object
 89  75 Mbps     432 non-null    object
 90  77 Mbps     432 non-null    object
 91  78 Mbps     432 non-null    object
 92  80 Mbps     432 non-null    object
 93  81 Mbps     432 non-null    object
 94  83 Mbps     432 non-null    object
 95  82 Mbps     432 non-null    object
 96  86 Mbps     432 non-null    object
dtypes: float64(2), object(95)
memory usage: 328.3+ KB

In [17]:
df2.isnull().sum()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
432,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [45]:
df2.replace("- 0","0",inplace=True)

In [32]:
df2

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022.0,1.0,Buenos Aires,"26,280",19,0,0,"31,380",192,"5,958",...,"3,163",0,"100,884",0,4,212,0,2,0,0
1,2022.0,1.0,Capital Federal,"1,717",31,0,0,461,35,"1,407",...,3,0,"31,684",0,0,8,0,0,0,0
2,2022.0,1.0,Catamarca,"2,207",0,0,0,34,37,0,...,0,0,0,0,0,0,0,0,0,0
3,2022.0,1.0,Chaco,"7,580",0,225,111,234,2,0,...,0,0,0,0,0,0,0,0,0,0
4,2022.0,1.0,Chubut,"15,607",8,0,0,73,32,"1,069",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,2017.0,4.0,Santa Fe,"14,119",0,0,0,"3,109",0,"7,637",...,0,0,0,0,0,0,0,0,0,0
429,2017.0,4.0,Santiago Del Estero,0,0,0,0,41,0,909,...,0,0,0,0,0,0,0,0,0,0
430,2017.0,4.0,Tierra Del Fuego,0,0,0,0,6,0,282,...,0,0,0,0,0,0,0,0,0,0
431,2017.0,4.0,Tucumán,0,0,0,0,105,0,1,...,0,0,0,0,0,0,0,0,0,0
432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
#Analizamos el dataset
advert_report = sv.analyze(df2)
#Generamos el informe
advert_report.show_html('Accesos_a_Internet_fijo_por_velocidad_bajada_y_provincia.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:11 -> (00:00 left)

Report Accesos_a_Internet_fijo_por_velocidad_bajada_y_provincia.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

3) Accesos_a_Internet_fijo_por_tecnologia_y_localidad
Se observa que:<br> 
todos los datos son objetos,<br> 
hay valores "-0", <br>
columna de NaN
De todos modos no se utilizarán los datos de está tabla,ya que no se considera necesaria para el análisis solicitado.

In [6]:
df3= pd.read_csv('../Datasets/Accesos_a_Internet_fijo_por_tecnologia_y_localidad.csv')

In [61]:
df3

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,914,4.704,- 0,5,- 0,975,- 0,664,7.262,NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,- 0,18,- 0,- 0,327,1.127,NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,TUCUMAN,Tafí Viejo,El Cadillal,90105070,- 0,- 0,- 0,- 0,- 0,1,- 0,- 0,1,NaN
3123,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,234,234,NaN
3124,TUCUMAN,Trancas,Villa de Trancas,90112030,197,- 0,- 0,- 0,- 0,- 0,- 0,111,308,NaN
3125,TUCUMAN,Yerba Buena,Villa Carmela,90119020,2.062,- 0,- 0,- 0,1,- 0,- 0,97,2.160,NaN
3126,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,136,5.920,- 0,8.382,33,- 0,- 0,- 0,14.471,NaN

In [62]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3127 entries, 0 to 3126
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3127 non-null   object
 1   Partido        3127 non-null   object
 2   Localidad      3127 non-null   object
 3   Link Indec     3127 non-null   object
 4   ADSL           3127 non-null   object
 5   CABLEMODEM     3127 non-null   object
 6   DIAL UP        3127 non-null   object
 7   FIBRA OPTICA   3127 non-null   object
 8   OTROS          3127 non-null   object
 9   SATELITAL      3127 non-null   object
 10  WIMAX          3127 non-null   object
 11  WIRELESS       3127 non-null   object
 12  Total general  3127 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 342.1+ KB

In [63]:
#Analizamos el dataset
advert_report = sv.analyze(df3)
#Generamos el informe
advert_report.show_html('Accesos_a_Internet_fijo_por_tecnologia_y_localidad.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Accesos_a_Internet_fijo_por_tecnologia_y_localidad.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [64]:
df3.replace("- 0","0",inplace=True)

4) Conectividad_al_servicio_de_Internet_provincial
Se reemplazan los "SI" por 1  y las "--" por 0, de las filas: ADSL,CLABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G.
No se utilizará esta tabla ya que las variables categóricas, aunque informativas, no serán necesarias para el análisis.

In [7]:
df4 = pd.read_csv('../Datasets/Conectividad_al_servicio_de_Internet_provincial.csv')

In [67]:
df4

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,SI,SI,--,SI,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,SI,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,SI,--,--,--,--,--,--,--,--,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040.0,-35.164397,-60.081358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,El Carmen,Los Lapachos (Est. Maquinista Verón),864,--,--,--,--,--,SI,--,SI,SI,38014050.0,-24.473571,-65.074393
4308,JUJUY,El Carmen,Loteo San Vicente,211,--,--,--,--,--,--,--,--,SI,38014055.0,-24.429325,-65.184397
4309,JUJUY,El Carmen,Manantiales,326,--,--,--,--,SI,--,--,SI,SI,38014060.0,-24.505687,-64.975926
4310,JUJUY,El Carmen,Monterrico,11591,--,SI,--,--,SI,SI,SI,SI,SI,38014070.0,-24.438520,-65.162225
4311,JUJUY,El Carmen,Pampa Blanca,2720,SI,SI,--,--,SI,SI,SI,SI,SI,38014080.0,-24.532994,-65.074414

In [68]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  link           3836 non-null   float64
 14  Latitud        4312 non-null   float64
 15  Longitud       4312 non-null   float64
dtypes: float64(3), int64(1), object(12)
memory usage: 539.1+ KB

In [55]:
#Analizamos el dataset
advert_report = sv.analyze(df4)
#Generamos el informe
advert_report.show_html('Conectividad_al_servicio_de_Internet_provincial.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:01 -> (00:00 left)

Report Conectividad_al_servicio_de_Internet_provincial.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [69]:
df4.replace("SI",1,inplace=True)
df4.replace("--",0,inplace=True)

In [70]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   int64
 5   CABLEMODEM     4312 non-null   int64
 6   DIALUP         4312 non-null   int64
 7   FIBRAOPTICA    4312 non-null   int64
 8   SATELITAL      4312 non-null   int64
 9   WIRELESS       4312 non-null   int64
 10  TELEFONIAFIJA  4312 non-null   int64
 11  3G             4312 non-null   int64
 12  4G             4312 non-null   int64
 13  link           3836 non-null   float64
 14  Latitud        4312 non-null   float64
 15  Longitud       4312 non-null   float64
dtypes: float64(3), int64(10), object(3)
memory usage: 539.1+ KB

In [71]:
df4

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,1,1,0,1,1,1,1,1,1,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,0,0,0,0,0,0,1,0,0,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,1,0,0,0,1,0,0,1,1,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,1,0,0,0,0,0,0,0,0,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,0,0,0,0,0,1,0,0,0,6854040.0,-35.164397,-60.081358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,El Carmen,Los Lapachos (Est. Maquinista Verón),864,0,0,0,0,0,1,0,1,1,38014050.0,-24.473571,-65.074393
4308,JUJUY,El Carmen,Loteo San Vicente,211,0,0,0,0,0,0,0,0,1,38014055.0,-24.429325,-65.184397
4309,JUJUY,El Carmen,Manantiales,326,0,0,0,0,1,0,0,1,1,38014060.0,-24.505687,-64.975926
4310,JUJUY,El Carmen,Monterrico,11591,0,1,0,0,1,1,1,1,1,38014070.0,-24.438520,-65.162225
4311,JUJUY,El Carmen,Pampa Blanca,2720,1,1,0,0,1,1,1,1,1,38014080.0,-24.532994,-65.074414

5) historico_velocidad_internet_nacional

Se observa que no hay nulos, además hay una columna "Trimestre.1" que aporta la misma información respecto de la columna "Trimestre", por esto se elimina la "Trimestre.1" 
Se toma el parámetro decimal= , en el read del csv, porque el dato debe ser float y viene como str. 

Esta tabla nos permitirá comparar la velocidad media de bajada de cada provinacia con la velocidad media a nivel nacional.

In [8]:
df5 = pd.read_csv('../Datasets/historico_velocidad_internet_nacional.csv',sep=",", decimal=",")

In [84]:
df5

     Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0   2022          1                   55.11   Ene-Mar 2022
1   2021          4                   52.34   Oct-Dic 2021
2   2021          3                   48.46  Jul-Sept 2021
3   2021          2                   45.63   Abr-Jun 2021
4   2021          1                   43.11   Ene-Mar 2021
5   2020          4                   42.36   Oct-Dic 2020
6   2020          3                   40.67  Jul-Sept 2020
7   2020          2                   38.32   Abr-Jun 2020
8   2020          1                   37.52   Ene-Mar 2020
9   2019          4                   28.26   Oct-Dic 2019
10  2019          3                   24.18  Jul-Sept 2019
11  2019          2                   20.33   Abr-Jun 2019
12  2019          1                   17.38   Ene-Mar 2019
13  2018          4                   15.95   Oct-Dic 2018
14  2018          3                   15.36  Jul-Sept 2018
15  2018          2                   13.85   Abr-Jun 2018
16  2018          1                   13.22   Ene-Mar 2018
17  2017          4                   12.01   Oct-Dic 2017
18  2017          3                    8.34  Jul-Sept 2017
19  2017          2                    7.16   Abr-Jun 2017
20  2017          1                    6.62   Ene-Mar 2017
21  2016          4                    6.34   Oct-Dic 2016
22  2016          3                    5.94  Jul-Sept 2016
23  2016          2                    5.42   Abr-Jun 2016
24  2016          1                    5.08   Ene-Mar 2016
25  2015          4                    4.99   Oct-Dic 2015
26  2015          3                    4.79  Jul-Sept 2015
27  2015          2                    4.55   Abr-Jun 2015
28  2015          1                    4.35   Ene-Mar 2015
29  2014          4                    4.16   Oct-Dic 2014
30  2014          3                    3.87  Jul-Sept 2014
31  2014          2                    3.76   Abr-Jun 2014
32  2014          1                    3.62   Ene-Mar 2014

In [86]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     33 non-null     int64
 1   Trimestre               33 non-null     int64
 2   Mbps (Media de bajada)  33 non-null     float64
 3   Trimestre.1             33 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

In [87]:
df5.drop(["Trimestre.1"],axis=1,inplace=True)

In [80]:
df5

     Año  Trimestre Mbps (Media de bajada)
0   2022          1                  55,11
1   2021          4                  52,34
2   2021          3                  48,46
3   2021          2                  45,63
4   2021          1                  43,11
5   2020          4                  42,36
6   2020          3                  40,67
7   2020          2                  38,32
8   2020          1                  37,52
9   2019          4                  28,26
10  2019          3                  24,18
11  2019          2                  20,33
12  2019          1                  17,38
13  2018          4                  15,95
14  2018          3                  15,36
15  2018          2                  13,85
16  2018          1                  13,22
17  2017          4                  12,01
18  2017          3                   8,34
19  2017          2                   7,16
20  2017          1                   6,62
21  2016          4                   6,34
22  2016          3                   5,94
23  2016          2                   5,42
24  2016          1                   5,08
25  2015          4                   4,99
26  2015          3                   4,79
27  2015          2                   4,55
28  2015          1                   4,35
29  2014          4                   4,16
30  2014          3                   3,87
31  2014          2                   3,76
32  2014          1                   3,62

In [88]:
#Analizamos el dataset
advert_report = sv.analyze(df5)
#Generamos el informe
advert_report.show_html('historico_velocidad_internet_nacional.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report historico_velocidad_internet_nacional.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

6) historico_velocidad_internet_provincial
Se observa que la tabla no posea datos faltantes,tampoco duplicados. 
Será utilizada para el análisis del siguiente KPI:
"Evaluar el aumento o disminución de la varicación porcentual de la velocidad media de bajada por provincia"

In [9]:
df6 = pd.read_csv('../Datasets/historico_velocidad_internet_provincial.csv')

In [90]:
df6

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          1         Buenos Aires                      63
1    2022          1      Capital Federal                      88
2    2022          1            Catamarca                      51
3    2022          1                Chaco                      46
4    2022          1               Chubut                      13
..    ...        ...                  ...                     ...
787  2014          1           Santa Cruz                       3
788  2014          1             Santa Fe                       3
789  2014          1  Santiago Del Estero                       3
790  2014          1     Tierra Del Fuego                       3
791  2014          1              Tucumán                       3

[792 rows x 4 columns]

In [91]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     792 non-null    int64
 1   Trimestre               792 non-null    int64
 2   Provincia               792 non-null    object
 3   Mbps (Media de bajada)  792 non-null    int64
dtypes: int64(3), object(1)
memory usage: 24.9+ KB

In [92]:
#Analizamos el dataset
advert_report = sv.analyze(df6)
#Generamos el informe
advert_report.show_html('historico_velocidad_internet_provincial.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report historico_velocidad_internet_provincial.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

De la información que se obtenga del análisis de los KPIs mencionados anteriormente, se podrá obsevar si una provincia se encuentra por encima o debajo de la media nacional.

7) Internet_Penetracion_nacional
Se observa que la tabla no presenta presenta valores nulos. Se procede a eliminar la columna "Periodo" ya que posee la misma información que las columnas "Trimestre" y "Año". 
Se utilizará para analizar el acceso por cada 100 hogares a nivel nacional, anualmente.

In [10]:
df7 = pd.read_csv('../Datasets/Internet_Penetracion_nacional.csv', decimal=",")

In [109]:
df7

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,1,73.88,23.05,Ene-Mar 2022
1,2021,4,73.18,22.81,Oct-Dic 2021
2,2021,3,70.58,21.98,Jul-Sept 2021
3,2021,2,69.24,21.55,Abr-Jun 2021
4,2021,1,67.95,21.13,Ene-Mar 2021
5,2020,4,67.62,21.01,Oct-Dic 2020
6,2020,3,66.31,20.59,Jul-Sept 2020
7,2020,2,64.21,19.92,Abr-Jun 2020
8,2020,1,62.86,19.48,Ene-Mar 2020
9,2019,4,62.92,19.49,Oct-Dic 2019
10,2019,3,65.79,20.36,Jul-Sept 2019
11,2019,2,64.53,19.96,Abr-Jun 2019
12,2019,1,62.48,19.31,Ene-Mar 2019
13,2018,4,61.42,18.97,Oct-Dic 2018
14,2018,3,60.69,18.73,Jul-Sept 2018
15,2018,2,59.16,18.24,Abr-Jun 2018
16,2018,1,58.82,18.12,Ene-Mar 2018
17,2017,4,57.78,17.79,Oct-Dic 2017
18,2017,3,56.90,17.51,Jul-Sept 2017
19,2017,2,54.90,16.88,Abr-Jun 2017
20,2017,1,54.16,16.64,Ene-Mar 2017
21,2016,4,53.94,16.56,Oct-Dic 2016
22,2016,3,53.73,16.50,Jul-Sept 2016
23,2016,2,53.34,16.37,Abr-Jun 2016
24,2016,1,51.85,15.90,Ene-Mar 2016
25,2015,4,52.63,16.12,Oct-Dic 2015
26,2015,3,52.46,16.05,Jul-Sept 2015
27,2015,2,51.76,15.82,Abr-Jun 2015
28,2015,1,51.36,15.68,Ene-Mar 2015
29,2014,4,50.50,15.39,Oct-Dic 2014
30,2014,3,50.67,15.43,Jul-Sept 2014
31,2014,2,49.86,15.16,Abr-Jun 2014
32,2014,1,49.55,15.05,Ene-Mar 2014

In [110]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           33 non-null     int64
 1   Trimestre                     33 non-null     int64
 2   Accesos por cada 100 hogares  33 non-null     float64
 3   Accesos por cada 100 hab      33 non-null     float64
 4   Periodo                       33 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ KB

In [112]:
#Analizamos el dataset
advert_report = sv.analyze(df7)
#Generamos el informe
advert_report.show_html('Internet_Penetracion_nacional.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_Penetracion_nacional.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [113]:
df7.drop(["Periodo"],axis=1,inplace=True)

In [115]:
df7["Año"].value_counts()

2014    4
2015    4
2016    4
2017    4
2018    4
2019    4
2020    4
2021    4
2022    1
Name: Año, dtype: int64

8) Internet_Penetracion_provincial
Se observa que la tabla no pose valores faltantes ni nulos.
Utilizaremos está tabla para poder responder al KPI solicitado: 
Evaluar el aumento o disminución de la variación porcentual trimestral del servicio de internet, cada 100 hogares por provincia

In [11]:
df8 = pd.read_csv('../Datasets/Internet_Penetracion_provincial.csv', decimal=",")

In [120]:
df8

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
0    2022          1         Buenos Aires                         76.08
1    2022          1      Capital Federal                        111.80
2    2022          1            Catamarca                         58.21
3    2022          1                Chaco                         44.06
4    2022          1               Chubut                         88.05
..    ...        ...                  ...                           ...
787  2014          1           Santa Cruz                         28.94
788  2014          1             Santa Fe                         47.85
789  2014          1  Santiago Del Estero                         16.31
790  2014          1     Tierra Del Fuego                         63.97
791  2014          1              Tucumán                         33.42

[792 rows x 4 columns]

In [121]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 24.9+ KB

In [122]:
#Analizamos el dataset
advert_report = sv.analyze(df8)
#Generamos el informe
advert_report.show_html('Internet_Penetracion_provincial.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_Penetracion_provincial.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

9) Internet_Ingresos
Se observa que no hay datos faltantes, además la columna "Periodo" no aoprta nuva información ,asique seguramente sea eliminada apra el análisis posterior. Por otra parte la información proporcionada inica en el 2014 y finaliza en 2022. 

KPI : Comparar los ingresos anuales de los diferentes servicios de telecomunicaciones(Internet,Telefonia fija, Telefonia movil)

In [12]:
df9 = pd.read_csv('../Datasets/Internet_Ingresos.csv')

In [145]:
df9

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          1                51.432.896   Ene-Mar 2022
1   2021          4                45.467.887   Oct-Dic 2021
2   2021          3                42.999.944  Jul-Sept 2021
3   2021          2                38.239.667   Abr-Jun 2021
4   2021          1                36.676.371   Ene-Mar 2021
5   2020          4                33.539.703   Oct-Dic 2020
6   2020          3                31.997.445  Jul-Sept 2020
7   2020          2                32.102.476   Abr-Jun 2020
8   2020          1                29.946.216   Ene-Mar 2020
9   2019          4                24.169.251   Oct-Dic 2019
10  2019          3                21.652.748  Jul-Sept 2019
11  2019          2                20.743.118   Abr-Jun 2019
12  2019          1                20.207.414   Ene-Mar 2019
13  2018          4                16.637.687   Oct-Dic 2018
14  2018          3                15.410.981  Jul-Sept 2018
15  2018          2                14.319.467   Abr-Jun 2018
16  2018          1                13.171.459   Ene-Mar 2018
17  2017          4                11.226.127   Oct-Dic 2017
18  2017          3                10.065.998  Jul-Sept 2017
19  2017          2                 9.678.647   Abr-Jun 2017
20  2017          1                 8.701.201   Ene-Mar 2017
21  2016          4                 7.483.980   Oct-Dic 2016
22  2016          3                 6.912.442  Jul-Sept 2016
23  2016          2                 6.534.241   Abr-Jun 2016
24  2016          1                 5.936.845   Ene-Mar 2016
25  2015          4                 5.376.899   Oct-Dic 2015
26  2015          3                 5.153.739  Jul-Sept 2015
27  2015          2                 4.701.791   Abr-Jun 2015
28  2015          1                 4.876.385   Ene-Mar 2015
29  2014          4                 3.950.441   Oct-Dic 2014
30  2014          3                 3.478.638  Jul-Sept 2014
31  2014          2                 3.270.816   Abr-Jun 2014
32  2014          1                 2.984.054   Ene-Mar 2014

In [146]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        33 non-null     int64
 1   Trimestre                  33 non-null     int64
 2   Ingresos (miles de pesos)  33 non-null     object
 3   Periodo                    33 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [152]:
#Analizamos el dataset
advert_report = sv.analyze(df9)
#Generamos el informe
advert_report.show_html('Internet_Ingresos.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_Ingresos.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

10) Internet_BAF_nacional
Se observa que no hay datos faltantes, sin embargo la columna "Banda ancha fija" posee valores en escala de millones, es decir que un análisis de está tabla estaría influenciado por estos datos, Es por esto que no se toma para analizar.

In [13]:
df10 = pd.read_csv('../Datasets/Internet_BAF_nacional.csv')

In [149]:
df10

     Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0   2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
1   2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
2   2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021
3   2021          2        9.852.702   10.382   9.863.084   Abr-Jun 2021
4   2021          1        9.637.956   10.016   9.647.972   Ene-Mar 2021
5   2020          4        9.561.546   10.016   9.571.562   Oct-Dic 2020
6   2020          3        9.346.183   10.016   9.356.199  Jul-Sept 2020
7   2020          2        9.021.040   10.016   9.031.056   Abr-Jun 2020
8   2020          1        8.802.435    9.991   8.812.426   Ene-Mar 2020
9   2019          4        8.783.053   10.128   8.793.181   Oct-Dic 2019
10  2019          3        9.142.891   21.793   9.164.684  Jul-Sept 2019
11  2019          2        8.938.427   21.754   8.960.181   Abr-Jun 2019
12  2019          1        8.626.323   21.812   8.648.135   Ene-Mar 2019
13  2018          4        8.451.841   21.814   8.473.655   Oct-Dic 2018
14  2018          3        8.320.223   26.812   8.347.035  Jul-Sept 2018
15  2018          2        8.083.533   26.911   8.110.444   Abr-Jun 2018
16  2018          1        8.009.981   27.072   8.037.053   Ene-Mar 2018
17  2017          4        7.842.778   27.444   7.870.222   Oct-Dic 2017
18  2017          3        7.696.594   28.349   7.724.943  Jul-Sept 2017
19  2017          2        7.401.134   28.530   7.429.664   Abr-Jun 2017
20  2017          1        7.277.314   28.540   7.305.854   Ene-Mar 2017
21  2016          4        7.223.128   28.545   7.251.673   Oct-Dic 2016
22  2016          3        7.178.340   28.610   7.206.950  Jul-Sept 2016
23  2016          2        7.097.604   32.475   7.130.079   Abr-Jun 2016
24  2016          1        6.874.704   32.652   6.907.356   Ene-Mar 2016
25  2015          4        6.952.289   32.542   6.984.831   Oct-Dic 2015
26  2015          3        6.902.267   32.801   6.935.068  Jul-Sept 2015
27  2015          2        6.783.279   32.909   6.816.188   Abr-Jun 2015
28  2015          1        6.699.714   38.018   6.737.732   Ene-Mar 2015
29  2014          4        6.559.172   39.324   6.598.496   Oct-Dic 2014
30  2014          3        6.559.264   36.007   6.595.271  Jul-Sept 2014
31  2014          2        6.428.329   36.139   6.464.468   Abr-Jun 2014
32  2014          1        6.362.108   36.290   6.398.398   Ene-Mar 2014

In [150]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               33 non-null     int64
 1   Trimestre         33 non-null     int64
 2   Banda ancha fija  33 non-null     object
 3   Dial up           33 non-null     float64
 4   Total             33 non-null     object
 5   Periodo           33 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.7+ KB

In [151]:
#Analizamos el dataset
advert_report = sv.analyze(df10)
#Generamos el informe
advert_report.show_html('Internet_BAF_nacional.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_BAF_nacional.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

11) Internet_BAF_provincial
Con estos datos suscede algo similar que en la tabla "Internet_BAF_nacional". Es por ello que tampoco se utilizará para el análisis.

In [14]:
df11 = pd.read_csv('../Datasets/Internet_BAF_provincial.csv')

In [154]:
df11

      Año  Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022          1         Buenos Aires        4.549.131   6.293  4.555.424
1    2022          1      Capital Federal        1.415.378   2.163  1.417.541
2    2022          1            Catamarca           62.377       1     62.378
3    2022          1                Chaco          144.114       5    144.119
4    2022          1               Chubut          170.701     927    171.628
..    ...        ...                  ...              ...     ...        ...
787  2014          1           Santa Cruz           26.304     460     26.764
788  2014          1             Santa Fe          506.000     612    506.612
789  2014          1  Santiago Del Estero           37.124       9     37.133
790  2014          1     Tierra Del Fuego           27.272     766     28.038
791  2014          1              Tucumán          129.944      88    130.032

[792 rows x 6 columns]

In [155]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               792 non-null    int64
 1   Trimestre         792 non-null    int64
 2   Provincia         792 non-null    object
 3   Banda ancha fija  792 non-null    object
 4   Dial up           790 non-null    object
 5   Total             792 non-null    object
dtypes: int64(2), object(4)
memory usage: 37.2+ KB

In [156]:
#Analizamos el dataset
advert_report = sv.analyze(df11)
#Generamos el informe
advert_report.show_html('Internet_BAF_provincial.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_BAF_provincial.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

12) Internet_Accesos_por_velocidad_nacional
Se observan valores nulos y una columna de NaN. 
No se tomará está tabla para analizar.

In [15]:
df12 = pd.read_csv('../Datasets/Internet_Accesos_por_velocidad_nacional.csv')

In [166]:
df12

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Unnamed: 11
0,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,NaN
1,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,NaN
2,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,NaN
3,2021,2,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084,NaN
4,2021,1,39.487,41.674,2.593.477,1.072.722,737.930,595.920,4.379.965,186.797,9.647.972,NaN
5,2020,4,39.510,42.185,2.622.638,1.073.875,786.595,582.420,4.239.237,185.102,9.571.562,NaN
6,2020,3,41.038,44.005,2.637.984,1.040.017,799.350,538.567,4.053.461,201.777,9.356.199,NaN
7,2020,2,41.038,48.690,2.651.502,1.053.107,807.775,523.437,3.711.499,194.008,9.031.056,NaN
8,2020,1,42.550,56.170,2.649.819,1.022.014,814.470,532.309,3.500.882,194.212,8.812.426,NaN
9,2019,4,38.272,28.980,2.792.684,1.046.128,851.619,1.004.083,2.831.253,200.162,8.793.181,NaN
10,2019,3,241.713,80.599,3.309.137,1.026.859,806.466,1.141.545,2.314.898,243.467,9.164.684,NaN
11,2019,2,202.790,95.980,3.444.458,871.142,1.169.632,1.250.366,1.677.830,247.983,8.960.181,NaN
12,2019,1,166.573,195.706,3.428.759,882.836,1.464.748,1.244.215,1.138.728,126.570,8.648.135,NaN
13,2018,4,138.740,201.196,3.349.666,882.388,1.472.634,1.690.612,599.579,138.840,8.473.655,NaN
14,2018,3,5.675,220.589,3.401.277,859.413,1.607.137,1.571.692,524.777,156.475,8.347.035,NaN
15,2018,2,5.972,219.467,3.316.868,979.416,1.905.839,1.000.036,444.391,238.455,8.110.444,NaN
16,2018,1,7.309,215.406,3.272.724,976.956,2.068.087,862.010,397.977,236.584,8.037.053,NaN
17,2017,4,15.041,221.474,3.773.159,1.005.545,1.730.353,631.946,337.559,155.145,7.870.222,NaN
18,2017,3,19.022,217.997,4.062.226,1.062.810,1.592.304,353.480,245.790,0.000,7.553.629,NaN
19,2017,2,22.366,222.766,4.416.065,990.281,1.342.000,231.604,98.635,0.000,7.323.717,NaN
20,2017,1,20.653,230.159,4.584.534,975.027,1.129.987,210.668,47.990,0.000,7.199.018,NaN
21,2016,4,20.724,233.398,4.673.339,971.094,1.038.029,169.522,38.590,0.000,7.144.696,NaN
22,2016,3,20.104,294.413,4.816.081,936.533,919.208,124.564,31.022,0.000,7.141.925,NaN
23,2016,2,44.008,384.221,5.058.481,796.998,785.759,73.977,29.020,0.000,7.172.464,NaN
24,2016,1,30.428,404.810,4.944.358,762.999,641.646,27.664,23.380,0.000,6.835.285,NaN
25,2015,4,34.243,427.394,5.049.640,726.740,639.011,17.568,22.170,0.000,6.916.766,NaN
26,2015,3,35.030,455.777,5.087.802,701.187,539.414,13.101,20.677,0.000,6.852.988,NaN
27,2015,2,40.723,500.175,5.138.431,645.440,432.762,10.045,18.529,0.000,6.786.105,NaN
28,2015,1,41.158,516.919,5.121.423,571.620,348.102,7.643,16.347,0.000,6.623.212,NaN
29,2014,4,44.075,554.749,5.084.556,496.251,276.254,4.371,15.229,0.000,6.475.485,NaN
30,2014,3,37.430,608.018,5.153.437,373.372,182.483,507,12.424,0.000,6.367.671,NaN
31,2014,2,41.064,656.408,5.149.574,341.689,147.273,478,12.259,0.000,6.348.745,NaN
32,2014,1,52.684,687.619,5.130.294,289.182,101.127,345,11.595,0.000,6.272.846,NaN

In [159]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      33 non-null     int64
 1   Trimestre                33 non-null     int64
 2   Hasta 512 kbps           33 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  33 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    33 non-null     object
 5   Entre 6 Mbps y 10 Mbps   33 non-null     object
 6   Entre 10 Mbps y 20 Mbps  33 non-null     object
 7   Entre 20 Mbps y 30 Mbps  33 non-null     object
 8   Más de 30 Mbps           33 non-null     object
 9   OTROS                    33 non-null     float64
 10  Total                    33 non-null     object
 11  Unnamed: 11              0 non-null      float64
dtypes: float64(4), int64(2), object(6)
memory usage: 3.2+ KB

In [160]:
#Analizamos el dataset
advert_report = sv.analyze(df12)
#Generamos el informe
advert_report.show_html('Internet_Accesos_por_velocidad_nacional.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_Accesos_por_velocidad_nacional.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

13) Internet_Accesos_por_velocidad_provincial
Se observa que esta tabla posee valores nulos.
No se tomará esta tabla para el análisis.

In [16]:
df13 = pd.read_csv('../Datasets/Internet_Accesos_por_velocidad_provincial.csv')

In [168]:
df13

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,1,Buenos Aires,31.591,30.056,313.382,321.756,290.127,161.183,3.381.049,26.280,4.555.424
1,2022,1,Capital Federal,527.000,5.575,39.918,77.390,61.053,43.289,1.188.072,1.717,1.417.541
2,2022,1,Catamarca,71.000,456.000,4.386,7.009,8.773,3.761,35.715,2.207,62.378
3,2022,1,Chaco,461.000,1.099,16.888,21.235,20.898,13.012,62.946,7.580,144.119
4,2022,1,Chubut,113.000,1.677,61.369,31.856,33.080,13.871,14.055,15.607,171.628
...,...,...,...,...,...,...,...,...,...,...,...,...
787,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
788,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
789,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
790,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
791,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [169]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  792 non-null    int64
 1   Trimestre            792 non-null    int64
 2   Provincia            792 non-null    object
 3   HASTA 512 kbps       792 non-null    float64
 4   + 512 Kbps - 1 Mbps  792 non-null    float64
 5   + 1 Mbps - 6 Mbps    792 non-null    object
 6   + 6 Mbps - 10 Mbps   792 non-null    float64
 7   + 10 Mbps - 20 Mbps  792 non-null    float64
 8   + 20 Mbps - 30 Mbps  792 non-null    float64
 9   + 30 Mbps            792 non-null    object
 10  OTROS                786 non-null    float64
 11  Total                792 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 74.4+ KB

In [170]:
#Analizamos el dataset
advert_report = sv.analyze(df13)
#Generamos el informe
advert_report.show_html('Internet_Accesos_por_velocidad_provincial.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_Accesos_por_velocidad_provincial.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

 14) Internet_Accesos_por_tecnologia_nacional.<br>
 Se observa que no hay valores faltantes.
 La columna periodo no ofrece información nueva, es decir que podría eliminarse si se requiere.
 No se utilizará para el analísis.

In [17]:
df14 = pd.read_csv('../Datasets/Internet_Accesos_por_tecnologia_nacional.csv')

In [177]:
df14

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
1,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
2,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021
3,2021,2,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084,Abr-Jun 2021
4,2021,1,2.175.211,5.424.782,1.362.976,434.548,250.455,9.647.972,Ene-Mar 2021
5,2020,4,2.213.949,5.371.824,1.311.199,421.554,253.036,9.571.562,Oct-Dic 2020
6,2020,3,2.263.889,5.259.351,1.170.879,413.259,248.821,9.356.199,Jul-Sept 2020
7,2020,2,2.295.533,5.005.115,1.106.725,376.667,247.016,9.031.056,Abr-Jun 2020
8,2020,1,2.299.457,4.903.674,1.047.817,352.333,209.145,8.812.426,Ene-Mar 2020
9,2019,4,2.414.575,4.883.869,941.295,340.144,213.298,8.793.181,Oct-Dic 2019
10,2019,3,2.909.805,4.800.091,852.221,338.241,264.326,9.164.684,Jul-Sept 2019
11,2019,2,2.990.457,4.635.575,760.794,308.027,265.328,8.960.181,Abr-Jun 2019
12,2019,1,3.132.789,4.435.439,637.099,276.419,166.389,8.648.135,Ene-Mar 2019
13,2018,4,3.329.027,4.313.831,388.013,264.299,178.485,8.473.655,Oct-Dic 2018
14,2018,3,3.521.447,4.238.171,247.366,246.181,93.870,8.347.035,Jul-Sept 2018
15,2018,2,3.557.216,4.038.141,226.285,194.267,94.535,8.110.444,Abr-Jun 2018
16,2018,1,3.574.294,3.981.129,217.460,165.300,98.870,8.037.053,Ene-Mar 2018
17,2017,4,3.584.311,3.818.157,211.425,155.775,100.554,7.870.222,Oct-Dic 2017
18,2017,3,3.622.575,3.670.221,193.964,106.443,131.740,7.724.943,Jul-Sept 2017
19,2017,2,3.723.518,3.383.434,180.777,85.813,56.122,7.429.664,Abr-Jun 2017
20,2017,1,3.708.898,3.276.251,180.146,84.813,55.746,7.305.854,Ene-Mar 2017
21,2016,4,3.722.794,3.210.602,178.070,85.119,55.088,7.251.673,Oct-Dic 2016
22,2016,3,3.776.442,3.124.855,169.898,81.455,54.300,7.206.950,Jul-Sept 2016
23,2016,2,3.782.085,3.035.272,167.788,85.452,59.482,7.130.079,Abr-Jun 2016
24,2016,1,3.792.493,2.806.359,164.371,85.370,58.763,6.907.356,Ene-Mar 2016
25,2015,4,3.803.024,2.898.226,139.187,85.726,58.668,6.984.831,Oct-Dic 2015
26,2015,3,3.788.696,2.840.203,162.663,84.530,58.976,6.935.068,Jul-Sept 2015
27,2015,2,3.767.821,2.756.294,150.839,82.077,59.157,6.816.188,Abr-Jun 2015
28,2015,1,3.756.153,2.668.248,168.188,79.098,66.045,6.737.732,Ene-Mar 2015
29,2014,4,3.764.038,2.536.219,149.682,76.984,71.573,6.598.496,Oct-Dic 2014
30,2014,3,3.714.764,2.569.868,155.494,85.096,70.049,6.595.271,Jul-Sept 2014
31,2014,2,3.708.882,2.461.670,149.363,72.405,72.148,6.464.468,Abr-Jun 2014
32,2014,1,3.697.066,2.407.330,150.323,70.749,72.930,6.398.398,Ene-Mar 2014

In [178]:
df14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           33 non-null     int64
 1   Trimestre     33 non-null     int64
 2   ADSL          33 non-null     object
 3   Cablemodem    33 non-null     object
 4   Fibra óptica  33 non-null     object
 5   Wireless      33 non-null     float64
 6   Otros         33 non-null     float64
 7   Total         33 non-null     object
 8   Periodo       33 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.4+ KB

In [179]:
#Analizamos el dataset
advert_report = sv.analyze(df14)
#Generamos el informe
advert_report.show_html('Internet_Accesos_por_tecnologia_nacional.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_Accesos_por_tecnologia_nacional.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

15) Internet_Accesos_por_tecnologia_provincial
Se observan valores faltantes. 
No se utilizará.

In [18]:
df15 = pd.read_csv('../Datasets/Internet_Accesos_por_tecnologia_provincial.csv')

In [183]:
df15

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392.045,2.728.865,1.242.121,125.521,66.872,4.555.424
1,2022,1,Capital Federal,102.290,1.217.225,62.308,5.784,29.934,1.417.541
2,2022,1,Catamarca,14.181,15.517,29.118,1.328,2.234,62.378
3,2022,1,Chaco,32.391,64.546,36.662,8.164,2.356,144.119
4,2022,1,Chubut,44.133,66.667,9.184,30.592,21.052,171.628
...,...,...,...,...,...,...,...,...,...
788,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
789,2014,1,Santiago Del Estero,32.567,3.598,19,915,34.000,37.133
790,2014,1,Tierra Del Fuego,21.618,2.837,648,1,2.934,28.038
791,2014,1,Tucumán,129.717,83,121,13,98.000,130.032
792,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
df15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           793 non-null    object
 1   Trimestre     793 non-null    object
 2   Provincia     792 non-null    object
 3   ADSL          792 non-null    object
 4   Cablemodem    792 non-null    object
 5   Fibra óptica  792 non-null    object
 6   Wireless      792 non-null    object
 7   Otros         792 non-null    float64
 8   Total         792 non-null    object
dtypes: float64(1), object(8)
memory usage: 55.9+ KB

In [185]:
#Analizamos el dataset
advert_report = sv.analyze(df15)
#Generamos el informe
advert_report.show_html('Internet_Accesos_por_tecnologia_provincial.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Internet_Accesos_por_tecnologia_provincial.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

16) Listado_de_localidades_con_conectividad_a_internet
Por la calidad de la información propuesta, no se utilizará para el análisis.

In [19]:
df16 = pd.read_csv('../Datasets/Listado_de_localidades_con_conectividad_a_internet.csv')

In [187]:
df16

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,25 de Mayo,25 de Mayo,SI,SI,--,SI,SI,SI,SI,SI,SI
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,--,--,--,--,--,--,SI,--,--
2,BUENOS AIRES,25 de Mayo,Del Valle,SI,--,--,--,SI,SI,--,--,SI
3,BUENOS AIRES,25 de Mayo,Ernestina,SI,--,--,--,--,--,--,--,--
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,--,--,--,--,--,--,--,SI,--
...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,El Carmen,Los Lapachos (Est. Maquinista Verón),--,--,--,--,SI,SI,--,SI,--
4308,JUJUY,El Carmen,Loteo San Vicente,--,--,--,--,SI,--,--,--,--
4309,JUJUY,El Carmen,Manantiales,--,--,--,--,SI,SI,--,--,SI
4310,JUJUY,El Carmen,Monterrico,--,SI,--,--,SI,SI,SI,SI,SI
4311,JUJUY,El Carmen,Pampa Blanca,SI,SI,--,--,SI,SI,SI,SI,SI

17) Ingresos_telefonia_fija
No posee valores faltantes y tampoco nulos. 
Se utilizará para evaluar el siguiente KPI:
Comparar los ingresos anuales de los diferentes servicios de telecomunicaciones(Internet, Telefonía fija, Telefonía movil)

In [20]:
df17 = pd.read_csv('../Datasets/Ingresos_telefonia_fija.csv')

In [191]:
df17

     Año  Trimestre Ingresos (miles de $)
0   2014          1          2.916.071,75
1   2014          2           2.974.865,2
2   2014          3          3.105.462,02
3   2014          4           3.339.690,9
4   2015          1          3.260.124,75
5   2015          2          3.425.518,48
6   2015          3          3.590.883,18
7   2015          4          3.815.364,12
8   2016          1          4.198.260,39
9   2016          2          4.718.769,82
10  2016          3          4.951.967,66
11  2016          4          4.964.596,39
12  2017          1          6.375.681,76
13  2017          2          6.970.617,22
14  2017          3          6.667.943,53
15  2017          4          5.514.336,19
16  2018          1          8.252.279,99
17  2018          2          7.911.723,07
18  2018          3         10.111.350,57
19  2018          4          8.997.157,88
20  2019          1         12.238.568,39
21  2019          2         14.181.055,21
22  2019          3         13.404.569,15
23  2019          4         20.321.577,16
24  2020          1         17.067.597,82
25  2020          2         21.035.522,89
26  2020          3         18.162.023,89
27  2020          4         19.750.303,98
28  2021          1         21.378.667,68
29  2021          2         22.178.751,89
30  2021          3         20.789.995,21
31  2021          4         40.616.059,17
32  2022          1         24.881.132,36
33  2022          2         38.373.767,53

In [192]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    34 non-null     int64
 1   Trimestre              34 non-null     int64
 2   Ingresos (miles de $)  34 non-null     object
dtypes: int64(2), object(1)
memory usage: 944.0+ bytes

In [193]:
#Analizamos el dataset
advert_report = sv.analyze(df17)
#Generamos el informe
advert_report.show_html('Ingresos_telefonia_fija.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Ingresos_telefonia_fija.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

18) Ingresos_Telefonia_movil

In [21]:
df18 = pd.read_csv('../Datasets/Ingresos_Telefonia_movil.csv')

In [22]:
df18

     Año  Trimestre Ingresos (miles de $)        Periodo
0   2013          1          $ 13.135.235   Ene-Mar 2013
1   2013          2          $ 13.970.806   Abr-Jun 2013
2   2013          3          $ 15.235.659  Jul-Sept 2013
3   2013          4          $ 16.218.846   Oct-Dic 2013
4   2014          1          $ 15.938.353   Ene-Mar 2013
5   2014          2          $ 17.680.972   Abr-Jun 2014
6   2014          3          $ 18.976.053  Jul-Sept 2014
7   2014          4          $ 20.012.332   Oct-Dic 2014
8   2015          1          $ 19.337.342   Ene-Mar 2015
9   2015          2          $ 19.945.453   Abr-Jun 2015
10  2015          3          $ 21.785.238  Jul-Sept 2015
11  2015          4          $ 24.881.967   Oct-Dic 2015
12  2016          1          $ 24.763.052   Ene-Mar 2016
13  2016          2          $ 25.353.971   Abr-Jun 2016
14  2016          3          $ 27.416.177  Jul-Sept 2016
15  2016          4          $ 30.143.233   Oct-Dic 2016
16  2017          1          $ 31.205.565   Ene-Mar 2017
17  2017          2          $ 33.509.264   Abr-Jun 2017
18  2017          3          $ 35.711.689  Jul-Sept 2017
19  2017          4          $ 38.110.028   Oct-Dic 2017
20  2018          1          $ 38.733.946   Ene-Mar 2018
21  2018          2          $ 40.653.502   Abr-Jun 2018
22  2018          3          $ 43.280.089  Jul-Sept 2018
23  2018          4          $ 44.026.803   Oct-Dic 2018
24  2019          1          $ 50.246.691   Ene-Mar 2019
25  2019          2          $ 55.338.816   Abr-Jun 2019
26  2019          3          $ 60.905.891  Jul-Sept 2019
27  2019          4          $ 65.388.842   Oct-Dic 2019
28  2020          1          $ 72.077.147   Ene-Mar 2020
29  2020          2          $ 73.538.944   Abr-Jun 2020
30  2020          3          $ 79.634.755  Jul-Sept 2020
31  2020          4          $ 83.479.114   Oct-Dic 2020
32  2021          1          $ 93.112.153   Ene-Mar 2021
33  2021          2         $ 104.782.020   Abr-Jun 2021
34  2021          3         $ 117.751.925  Jul-Sept 2021
35  2021          4         $ 127.389.786   Oct-Dic 2021
36  2022          1         $ 130.454.716   Ene-Mar 2022
37  2022          2         $ 153.032.313   Abr-Jun 2022

In [6]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    38 non-null     int64
 1   Trimestre              38 non-null     int64
 2   Ingresos (miles de $)  38 non-null     object
 3   Periodo                38 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

In [23]:
#Analizamos el dataset
advert_report = sv.analyze(df18)
#Generamos el informe
advert_report.show_html('Ingresos_Telefonia_movi.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Ingresos_Telefonia_movi.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.